<h2>{{title}}</h2>
<div class="grid grid-pad">
    <div *ngFor="let user of users" class="col-1-3">
        <div class="module user">
            <h4>{{user.name}}</h4>
            <div>
                <div class="subheading">Address</div>
                <label>Street: </label>{{user.address.street}}
                <br/>
                <label>Suite: </label>{{user.address.suite}}
                <br/>
                <label>City: </label>{{user.address.city}}
                <br/>
                <label>Zipcode: </label>{{user.address.zipcode}}
                <br/>
            </div>
        </div>
    </div>
</div>
