[class*='col-'] {
  float: left;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
grid {
  margin: 0;
}
.col-1-5 {
  width: 150px;
  margin: 5px;
}
.col-1-5 > span {
  height: 70px;
  display: inline-block;
}
